
.card{
    width: 95%;
    margin: 0 auto;
}
.card-body{
    background-color: rgb(242, 242, 242);
    
}
.verde-background{
    background-color: rgb(65, 135, 54);
}
.azul-background{
    background-color: rgb(60, 133, 188);
}
.rojo_oscuro-background{
   background-color:rgb(123, 44, 20);
}
.violeta-background{
    background-color: rgb(111, 20, 123);
}
.azul_oscuro-background{
    background-color: rgb(27, 20, 123);
}
.rojo-background{
    background-color: rgb(219, 51, 51);
}

.verde-text{
    color: rgb(65, 135, 54);
}
.azul-text{
    color:  rgb(60, 133, 188);
}
.rojo_oscuro-text{
    color: rgb(123, 44, 20);
}
.violeta-text{
    color: rgb(111, 20, 123);
}
.azul_oscuro-text{
    color: rgb(27, 20, 123);
}
.rojo-text{
    color: rgb(219, 51, 51);
}
.img_height{
    width: 100%;
    height: 400px !important;
}