.verde{
    background-color: chartreuse;
}
.azul{
    background-color: cornflowerblue;
}
.rojo_oscuro{
   background-color: darkred;
}
.violeta{
    background-color: darkviolet;
}
.azul_oscuro{
    background-color: darkblue;
}
.rojo{
    background-color: crimson;
}