.img_noticia{
    width: 60%;
}
#categoria{
    font-weight: bold;
}

.verde{
    color: chartreuse;
}
.azul{
    color: cornflowerblue;
}
.rojo_oscuro{
    color: darkred;
}
.violeta{
    color: darkviolet;
}
.azul_oscuro{
    color: darkblue;
}
.rojo{
    color: crimson;
}