.card{
    width: 95%;
    margin: 0 auto;
}
.btn-noticia{
    border: solid 4px rgb(206, 206, 206);
    background-color: white;
}
.card-body{
    background-color: rgb(242, 242, 242);
}
.card-title {
    color: rgb(118, 118, 118);
}